*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    max-width: 130rem;
    }
a{
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    margin-left: 20px;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 25px;
    gap: 20px;
    color: #3c2f60;
    font-weight: 100;
}
.button-section{
    position: absolute;
    right:30px;
}
.btn-sml{
    color:#FFFFFF ;
    background-color: #5955B3;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}
.btn-sml:hover{
    color:#5955B3;
    background-color: #FFFFFF;
    font-weight: 700;
    
}


.hero-section{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.hero-section-left{
    width: 40%;
    margin-top: 150px;
    margin-left: 20px;
}

.heading-text{
    font-weight: 700;
    font-size: 65px;
    line-height:75px;
    color: #3c2f60;
}
    h1 span{
        color:#5955B3;
    }
    p{
        margin-top:28px;
        color: #3c2f60;
    }
    .btn-lrg {
        color:#FFFFFF;
        background-color: #5955B3;
        font-weight: 700;
        font-size: large;
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
        cursor: pointer;
    
    }
.btn-lrg:hover{
        color: #5955B3;
        background-color: #FFFFFF;
    }
.hero-section-right{
    width:60%;
    margin-right: 0px;
 }

 .hero-section-right>img{
    height: 640px;
    width: 900px;   
}

